<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008671233885-0s7k32k1vgntrrelc07eb33beq0i2b8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008671233885-0s7k32k1vgntrrelc07eb33beq0i2b8f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008671233885-77otk7qhti1bvq55vmkmjou63c11cajf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANmoQkWwFHfrWIC65C9-24L4F-fnbGLIU</string>
	<key>GCM_SENDER_ID</key>
	<string>1008671233885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ots.itsInTheHole</string>
	<key>PROJECT_ID</key>
	<string>its-in-the-hole</string>
	<key>STORAGE_BUCKET</key>
	<string>its-in-the-hole.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008671233885:ios:13cf1c92d03e6a630bfab4</string>
	<key>DATABASE_URL</key>
	<string>https://its-in-the-hole.firebaseio.com</string>
</dict>
</plist>